  <router-outlet></router-outlet>

  <main>

    <header>
      <img src="../assets/images/logo.svg" alt="Logo">    FairHouse  
    </header>

    <section> 
      <app-housing-list 
      [locationList]="housingLocationList"
      (locationSelectedEvent)="updateSelectedLocation($event)"
      >    
      </app-housing-list>
    </section>

    <article>
      <img [src]="selectedLocation?.photo" alt="pictures">
      <p>{{selectedLocation?.name}}</p>
      <p>{{selectedLocation?.availableUnits}}</p>
      <p>{{selectedLocation?.city}}, {{selectedLocation?.state}}</p>
      <p>{{selectedLocation?.laundry ? "Has laundry" : "Does Not have laundry"}}</p>
      <p>{{selectedLocation?.wifi ? "Has wifi" : "Does Not have wifi"}}</p>
    </article>

  </main>